html {
  font-size: 12px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: 'Maven Pro', sans-serif; /* this should be the rest of the output you got from Google fonts */
  background-color: rgb(241, 241, 241);
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  padding: 0px 40px 40px 40px;
  border-radius: 5pt;
  box-shadow: 0px 0px 8px 10px rgba(0, 0, 0, 0.068);;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 40px 0;    
  color: rgb(226, 173, 26);
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.068);
}

p, li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}

img {
  display: block;
  margin: 0 auto;
}